.sky-carousel .sky-carousel-container {
  position: relative;
  /* list-style-type: none; */
  float: left;
  margin: 0;
  padding: 0;
}

.sky-carousel .sky-carousel-container li {
  position: absolute;
}