<div class="topic-item">

  <div class="header-wrapper">
    {{topic.id}}
    <a><h2 class="title">{{topic.title || '该文章没有标题吧啦啦啦啦啦啦啦啦啦啦啦啦啦啦了'}}</h2></a>
    <a class="avatar" href="" popover-template="userPopover.templateUrl" 
    popover-placement="right" popover-trigger="mouseenter">
      <img src="https://31.media.tumblr.com/avatar_594e564c0581_30.png"/>
    </a>
  </div>

  <div class="content-wrapper">
    <div class="description"></div>
    <a href="####" class="content-img">
      <img src="https://38.media.tumblr.com/e00fd1a544a1e5725fc8d024c723d2dc/tumblr_nu44a4nXAO1uf1kv3o1_r1_500.gif" alt="">
    </a>
  </div>

  <div class="footer-wrapper">
    <span class="sp1"><b>688</b>浏览</span>
    <span class="sp2">志强不息</span>
    <span class="sp3">2小时前&nbsp;By</span>
  </div>

</li>