<div class="topic-profile">
  <div class="header-wrapper">

    <a class="title">{{topic.title || '该文章没有标题吧啦啦啦啦啦啦啦啦啦啦啦啦啦啦了'}}</a>
    <a class="avatar" href="" popover-template="userPopover.templateUrl" 
    popover-placement="right" popover-trigger="mouseenter">
      <img src="https://31.media.tumblr.com/avatar_594e564c0581_30.png"/>
    </a>
  </div>

  <div class="content-wrapper topic-arrow">
    <div class="key-content">xxxxxxx</div>
    <div class="extra">
      <span class="cell">
          <a class="gray">chide</a>
      </span>
      <span class="cell">
        <a class="gray like" href="javascript:void(0);" ng-click="toggleLike(tweet)">
            <i class="heart icon empty">
            </i>
            <span>1</span>
        </a>
      </span>
      <span class="cell">
        <a class="gray like" href="javascript:void(0);" ng-click="toggleLike(tweet)">
            <i class="heart icon empty">
            </i>
            <span>1</span>
        </a>
      </span>
      <span class="cell">
        <a class="gray like" href="javascript:void(0);" ng-click="toggleLike(tweet)">
            <i class="heart icon empty">
            </i>
            <span>1</span>
        </a>
      </span>
      <span class="cell">
        <a class="gray like" href="javascript:void(0);" ng-click="toggleLike(tweet)">
            <i class="heart icon empty">
            </i>
            <span>1</span>
        </a>
      </span>
    </div>
  </div>
  <form class="topic-profile-form">
    <div class="ui large icon input">
        <input type="text" placeholder="在此输入评论内容（Command+Enter）" ng-model="content" cg-ctrl-enter="doComment();" cg-at-context="" at-context-type="'tweet_comment'" at-item="tweet" has_no_monkey="true" cg-placeholder="" cg-at-emoji="">
        <i class="right icon" ng-click="doComment();"></i>
    </div>
  </form>
</div>
