<!-- <div>
  <div class="form-group">
    <label>图标</label>
    <input id="category-logo" name="category[logo]" as="file" type="file" fileread="currentCategory.logo">
    <label>背景</label>
    <input id="category-background" name="category[background]" as="file" type="file" fileread="currentCategory.background">
  </div>
</div> -->

<div>
  <div class="form-group">
    <label>图标</label>
    <filearea id="category-logo" name="category[logo]" fileread="currentCategory.logo"/>
    <label>背景</label>
    <filearea id="category-background" name="category[background]" fileread="currentCategory.background"/>
  </div>
</div>