<!-- <sky-carousel items="slides"/> -->
<!-- 
<sky-carousel>
  <div ng-repeat="slide in slides">
    <sky-carousel-item title="zzzz" img-src="{{slide.image}}" description="{{slide.text}}"/>
  </div>
</sky-carousel>
 -->

<carousel interval="myInterval" no-wrap="noWrapSlides">
  <slide ng-repeat="slide in slides" active="slide.active">
    <img ng-src="{{slide.image}}" style="margin:auto;">
    <div class="carousel-caption">
      <h4>Slide {{$index}}</h4>
      <p>{{slide.text}}</p>
    </div>
  </slide>
</carousel>
<!-- 
<div class="sixteen columns">
      <div class="project">
        <div class="sky-carousel sc-no-select" style="visibility: visible;">
          <div class="sky-carousel-wrapper" style="visibility: visible; opacity: 1;">
            <ul class="sky-carousel-container" style="margin-top: 12.45px; left: -1423.3px; transition: left 0.45s ease-out; -webkit-transition: left 0.45s ease-out;">
              <li class="" style="transform-origin: center 176px 0px; transform: translate(0px, 0px) scale(0.6) translateZ(0px); opacity: 0.6;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Peter Bell</h2>
                  <p>Software Developer</p>
                </div>
              </li>
              <li style="transform-origin: center 176px 0px; transform: translate(110.6px, 0px) scale(0.6) translateZ(0px); opacity: 0.6;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Adam Rose</h2>
                  <p>Graphic Designer</p>
                </div>
              </li>
              <li style="transform-origin: center 176px 0px; transform: translate(221.2px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 17;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Josh Coil</h2>
                  <p>Chief Editor</p>
                </div>
              </li>             
              <li style="transform-origin: center 176px 0px; transform: translate(331.8px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 17;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Richard Will</h2>
                  <p>Support Manager</p>
                </div>
              </li>
              <li style="transform-origin: center 176px 0px; transform: translate(442.4px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 17;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Steve Goldman</h2>
                  <p>Marketing Manager</p>
                </div>
              </li>
              <li style="transform-origin: center 176px 0px; transform: translate(553px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 17;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Christopher King</h2>
                  <p>Founder / CEO</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(663.6px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 19;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Peter Bell</h2>
                  <p>Software Developer</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(774.2px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 21;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Adam Rose</h2>
                  <p>Graphic Designer</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(884.8px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 21;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Josh Coil</h2>
                  <p>Chief Editor</p>
                </div>
              </li>             
              <li class="" style="transform-origin: center 176px 0px; transform: translate(995.4px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 21;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Richard Will</h2>
                  <p>Support Manager</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(1106px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 23;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Steve Goldman</h2>
                  <p>Marketing Manager</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(1216.6px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 23;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Christopher King</h2>
                  <p>Founder / CEO</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(1327.2px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 23;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Peter Bell</h2>
                  <p>Software Developer</p>
                </div>
              </li>
              <li class="sc-selected" style="transform-origin: center 176px 0px; transform: translate(1472.8px, 0px) scale(0.899993303571429) translateZ(0px); opacity: 0.999991071428572; z-index: 24;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Adam Rose</h2>
                  <p>Graphic Designer</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(1618.4px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 22;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Josh Coil</h2>
                  <p>Chief Editor</p>
                </div>
              </li>             
              <li class="" style="transform-origin: center 176px 0px; transform: translate(1729px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 18;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Richard Will</h2>
                  <p>Support Manager</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(1839.6px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 18;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Steve Goldman</h2>
                  <p>Marketing Manager</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(1950.2px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 18;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Christopher King</h2>
                  <p>Founder / CEO</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(2060.8px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 18;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Peter Bell</h2>
                  <p>Software Developer</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(2171.4px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 19;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Adam Rose</h2>
                  <p>Graphic Designer</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(2282px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 17;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Josh Coil</h2>
                  <p>Chief Editor</p>
                </div>
              </li>             
              <li class="" style="transform-origin: center 176px 0px; transform: translate(2392.6px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 17;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Richard Will</h2>
                  <p>Support Manager</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(2503.2px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 18;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Steve Goldman</h2>
                  <p>Marketing Manager</p>
                </div>
              </li>
              <li class="" style="transform-origin: center 176px 0px; transform: translate(2613.8px, 0px) scale(0.6) translateZ(0px); opacity: 0.6; z-index: 19;">
                <img src="/assets/images/identity1.png" alt="" class="sc-image">
                <div class="sc-content">
                  <h2>Christopher King</h2>
                  <p>Founder / CEO</p>
                </div>
              </li>
            </ul>
          </div>
        <div class="sc-preloader" style="display: none;"></div><div class="sc-content-wrapper"><div class="sc-content-container" style="visibility: visible; opacity: 1;"><div class="sc-content"><h2>Adam Rose</h2><p>Graphic Designer</p></div></div></div><canvas class="sc-overlay sc-overlay-left" width="190" height="1" style="width: 190px;"></canvas><canvas class="sc-overlay sc-overlay-right" width="190" height="1" style="width: 190px;"></canvas><a href="#" class="sc-nav-button sc-prev sc-no-select"></a><a href="#" class="sc-nav-button sc-next sc-no-select"></a></div>
      </div>
    </div>
 -->