<div class="about-me">         
  <div class="user-bg" child-num="20"><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl></div>

  <div class="show">
    <div class="avatar">
      <img src="http://www.jq22.com/demo/personhtml-150506224723/images/me.png"/>
    </div>

    <div class="basic-info"> 
      <strong class="name">慕浟佳</strong>，网络爱好者
      <p>其实我</p>
      <p>屁都不会</p>
    </div>

    <div class="clear"></div>

    <div class="introduction">
        <p>这个网站是我的个人主页，里面都为原创内容。</p>
        <p>我经常会分享一些好资源</p>
        <p>欢迎和我一起讨论编程技术。 

            <a class="qq" target="_blank" href="http://www.jq22.com" title="网站源码">QQ</a>

            <a class="weibo tencent" target="_blank" href="http://www.jq22.com" title="js特效">JS特效</a>
        </p>
        <p>在我不是特别忙的时候，也接受修改代码付费编程任务。</p>
    </div>
  </div><!-- .show-->

</div>