<div class="container-fluid">
  <div class="role role1">
    <div class="category-board">      
      <div ng-repeat="item in role1Categories" class="category-item">
        <category-item category="item"/>
      </div>
    </div>

<!--     <img src="/assets/images/role1.png"> -->
  
 </div>


  <!-- <div class="fill"></div> -->


  <div class="role role2">
    <div class="category-board" >  
      <div ng-repeat="item in role2Categories" class="category-item">
        <category-item category="item"/>
      </div>
    </div>
    <!--     <img src="/assets/images/role2.jpg">
    -->  
  </div>
</div>
